<form [formGroup]="form" style="width: 70%; margin: auto; margin-top: 50px;">
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap; width: 100%;">
    <div style="margin-top: 20px; width: 33%; text-align: center;">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="CPF" formControlName="cpf">
        <mat-error *ngIf="form.get('cpf')?.hasError('cpf')">CPF inválido</mat-error>
        <mat-error *ngIf="form.get('cpf')?.hasError('required')">CPF é obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div style="width: 100%; text-align: center;">
      <button type="button" [disabled]="form.invalid" mat-raised-button color="primary">Form Válido</button>
    </div>
  </div>

</form>